body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.Contenedor {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centrado {
    text-align: center;
}

.texto {
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    color: #333;
}

.uno textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.tres input[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1%;
}

.tres input[type="button"]:hover {
    background-color: #0056b3;
}
.tres input[type="button"]:active {
    background-color: #03376e;
}
input, button {
    margin: 5px;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}
